@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@700&display=swap');

:root {
    --side-pad: 2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1rem auto;
    width: max(600px, 20rem);

    border-radius: 5px;
    background-color: skyblue;
    overflow: hidden;

    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
}

.header {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0 var(--side-pad);
    background-color: lightcoral;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    font-family: Roboto;
    color: white;
    margin: 1rem 0;
}

.heading a {
    color: white;
    font-size: 18px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: skyblue;
    padding: var(--side-pad);
}

.nav p {
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 1rem 0;
}

.nav a {
    text-decoration: none;
}

.button-primary {
    font-family: 'Open Sans';
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 5px;

    background-color: lightcoral;
    color: #fafafa;
    border: 1px solid #fafafa;
    cursor: pointer;
}

.button-secondary {
    font-family: 'Open Sans';
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 5px;

    text-decoration: none;
    border: 1px solid lightcoral;
    color: lightcoral;
    background-color: #fafafa;
    cursor: pointer;
}

.content {
    display: block;
    width: 100%;
}

form {
    font-family: 'Open Sans';
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: var(--side-pad);
}

.entry {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.entry-check {
    display: flex;
}

form label {
    font-family: inherit;
    font-size: 18px;
}

form input,
form textarea {
    font-family: inherit;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 5px;

    outline-color: lightcoral;
    border: 2px solid lightcoral;
    color: black;
}

form input[type=checkbox] {
    cursor: pointer;
    accent-color: lightcoral;
    outline-color: lightcoral;
}

form p,
form a,
form h1,
form h3,
form h4,
form h5,
form h6 {
    font-family: inherit;
}

.button-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.messages {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 2px;

    background-color: lightgoldenrodyellow;
}

.msg {
    display: flex;
    gap: 8px;

    font-family: 'Open Sans';
    font-size: 18px;
    padding: 1px var(--side-pad);
}

.msg span {
    padding: 10px 2px;
}

.msg span:last-child {
    background-color: transparent;
    font-size: inherit;
    border-width: 0;
    margin-left: auto;
    color: black;
    cursor: pointer;
}

.msg.success {
    background-color: lightgreen;
    border: 1px solid green;
}

.msg.error {
    background-color: lightsalmon;
    border: 1px solid rgb(205, 4, 4);
}

.msg.info {
    background-color: lightblue;
    border: 1px solid rgb(7, 169, 233);
}

.msg.warning {
    background-color: rgb(250, 226, 131);
    border: 1px solid orange;
}

form.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;

    width: 100%;
    padding: 0;
    border: 1px solid lightcoral;
    border-radius: 5px;

    font-size: 16px;
    overflow: hidden;
}

form.search-bar input {
    outline: none;
    border-width: 0;
    flex-grow: 1;
    border-radius: 0;
    font-size: inherit;
}

form.search-bar button {
    border-radius: 0;
    outline: none;
    border-width: 0;
    padding: 12px;
    font-size: inherit;
}

form.search-bar button:hover {
    color: lightcoral;
}

.create-task {
    font-family: inherit;
    background-color: #fafafa;
    padding: 8px 12px;
    color: lightcoral;
    border: 1px solid lightcoral;
    border-radius: 5px;
}

.create-task i {
    color: inherit;
    padding: 4px;
}

.create-task a {
    color: inherit;
    text-decoration: none;
}

.task-title {
    font-family: Poppins;
    border-bottom: 1px solid lightcoral;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
    padding: var(--side-pad);

    font-family: Poppins;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
    background-color: #fafafa;
    border-radius: 8px;
}

.task span {
    padding: 8px;
}

.task .title {
    margin-right: auto;
    overflow-x: elipsis;
}

.button-icon {
    color: black;
    font-size: 20px;
}

.button-icon:hover {
    color: coral;
}

.task .title.finished {
    text-decoration: line-through;
    color: grey;
}

.task .icon-check {
    color: coral;
}

.task .icon-uncheck {
    color: darkgray;
}
