{% extends 'base.html' %}

{% block title %}Home | Todo{% endblock title %}

{% block content %}

<div class="container-fluid d-flex align-items-center justify-content-center h-100">
    <div class="card" style="width: 30rem;">
        <div class="card-body text-center">
            <h1>Todo App</h1>
            <p>Please signin to continue with the website.</p>
            <a href="{% url 'todo:signin' %}" class="btn btn-primary px-3">Signin</a>
        </div>
    </div>
</div>

{% endblock content %}