{% extends 'base.html' %}

{% block title %}Tasks | Todo{% endblock title %}

{% block content %}

<div class="container mt-5">

    <div class="row position-relative">
        <h1 class="text-center">{{ user.username|title }}&apos;s Tasks</h1>
        <a href="{% url 'todo:signout' %}" class="text-secondary text-end position-absolute top-50">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
    </div>

    <hr />

    <div class="row justify-content-between g-3">
        <div class="col-auto">
            <a href="{% url 'todo:create' %}" class="btn btn-outline-primary">
                <i class="fa-solid fa-plus"></i>
                <span>New Task</span>
            </a>
        </div>
        <div class="col-auto">
            <form action="{% url 'todo:search' %}" method="GET" class="input-group w-100 d-flex flex-row">
                <input type="search" name="search" value="{{ search_text }}" class="form-control mr-3" required placeholder="search" />
                <button type="submit" class="btn btn-outline-secondary">search</button>
            </form>
        </div>
    </div>

    <hr />

    <div class="row">
        {% for task in tasks %}
            <div class="col-md-4 col-sm-12 mb-4 d-flex">
                <div class="card position-relative flex-fill">
                    <div class="card-body {% if task.is_finished %}text-decoration-line-through text-secondary-emphasis{% endif %}">
                        <h5 class="card-title">{{ task.title|capfirst }}</h5>
                        <p class="card-description">{{ task.description }}</p>
                    </div>
                    <div class="card-icons">
                        <a href="{% url 'todo:update' task.id %}" class="icon-link link-secondary link-underline-dark">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{% url 'todo:delete' task.id %}" class="icon-link link-secondary link-underline-dark">
                            <i class="fa fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if tasks|length == 0 %}
            <p class="text-warning text-center fs-5">You haven&apos;t added any tasks yet!</p>
        {% endif %}
    </div>

</div>

{% endblock content %}