body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif !important;
}

p, span, a, label,
textarea,
input[type="text"],
input[type="password"],
input {
    font-family: 'Open Sans', serif !important;
}

.card-icons {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.card:hover .card-icons {
    display: block;
}

.card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}